<!DOCTYPE html>
<html>

<body>
  <style>
    table,
    th,
    td {
      border: 1px solid;
      border-collapse: collapse;
    }

    th {
      text-align: left;
    }

  </style>
  <div class="log" align="center">
 <img alt="logo" src="{{imgUrl}}"></img>
  </div>
  <center>
   
    <h1>Patient Details</h1>
    <table style="width:95%">
      <tr>
        <th>Prepared For</th>
        <th>Requested By</th>
        <th>Generated on</th>
      </tr>
      <tr>
        <td>{{orgid}}</td>
        <td>Santhosh</td>
        <td>{{date}}</td>
      </tr>
    </table>
    <br /><br />
    <table style="width:95%">
      <tr>
        <th colspan="2">Patient Demo Graphics</th>
      </tr>
      <tr style="height:50px">
        <td style="width: 50%">
          {{firstname }}{{lastname}}</br>
          DOB:{{dob}}(Age:{{age}} Yrs),{{gender}}</br>
          Mobile:{{mobile}}

        </td>
        <td style="text-align: top">
          Email:{{email}}
          </br>
          Address:{{address.line1}},
          {{address.line2}},
          {{address.city}},
          {{address.state}},
          {{address.zip}}
        </td>
      </tr>
    </table>
  </center>
</body>

</html>